body, html {
    width: 100%;
    height: 100%;
}

body {
  padding-top:50px;
  font-size: 16px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body, h1, h2, h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

hr {
  border-top: 1px solid #ccc;

}
.btn.btn-default {
  background: #4e7ff0 none repeat scroll 0 0;
  border-color: #4e7ff0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3333333;
  padding: 10px 16px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: auto;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0;
  padding: 0 0 0px;
  position: relative;
  background-color: #bbd9f336;
}

.novidades{
  padding: 30px;
}

.novidades-cartao{
  border: solid #000;
  border-width: 0.33px 0.33px;
  background: #f4fcff;
  min-height: 100%;
  box-shadow: 8px 8px 40px #474747;
  margin: 15px 15px;
}

.alunos{
  padding: 50px;
  background-color: #bbd9f336;
}

.aprendizes{
  padding: 50px;
  background-color: #bbf3c79e;
}

.voluntarios{
  padding: 50px;
  background-color: #f3bbf157;
}

.navbar-default {
    background-color: #3667a4;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #f4fcff;
}

.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:focus, .navbar-default .navbar-nav>.disabled>a:hover {
    color: #dad7d782;
    background-color: transparent;
}

footer{
    padding: 64px 0;
    background-color: #3667a4;
}

.text-muted{
  color:#f4fcff;
}

.form-group {
  width: 100%;
  padding-left: 0px;
}

.sub {
  color: #fff;
  background-color: #3667a4;
  padding: 4px 0 4px 4px;
}
/*
palheta
#bbd9f3
#83a6cc
#3667a4
#3667a4*/