{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
  	<h1> <b>{{ pessoa.nome }}</b> </h1>
  	<hr>
  	<div class="row">
  		<div class="col-sm-7">
  			<h2>Dados pessoais</h2>
  			<br>
			<p> <b>{{ pessoa.identificador_tipo }}: </b>{{ pessoa.identificador_numero }}</p>
			<p> <b>Data de nascimento: </b> {{ pessoa.data_nascimento }}</p>
			<p> <b>Sexo: </b> {{ pessoa.sexo }}
<!-- 			{% if pessoa.matricula %}
			<p> <b>Matricula: </b>{{ pessoa.matricula }}</p>
			{% endif %} -->
			
			<h2>Dados para contato</h2>
			<br>
			<p> <b>Email: </b> {{ pessoa.email }}</p>
			<p> <b>Celular: </b> {{ pessoa.celular }}</p>
			<p> <b>Rua: </b> {{ pessoa.endereco_rua }}</p>
			<p> <b>Número: </b> {{ pessoa.endereco_numero }}</p>
			<p> <b>Complemento: </b>{{ pessoa.endereco_complemento }}</p>
			<p> <b>Bairro: </b>{{ pessoa.endereco_bairro }}</p>
			<p> <b>Cidade: </b>{{ pessoa.endereco_cidade }}</p>
			<p> <b>UF: </b>{{ pessoa.endereco_uf }}</p>
			<p> <b>CEP: </b>{{ pessoa.endereco_cep }}</p>
		</div>
		<div class="col-sm-5">
			{% if pessoa.tipo != 'voluntario' %}
			<h2>Responsável</h2>
			<br>
			<p> <b>Nome do responsável: </b>{{ pessoa.nome_responsavel[0] }}, {{ pessoa.nome_responsavel[1] }}</p>
			<p> <b>Telefone do responsável: </b>{{ pessoa.telefone_responsavel[0] }}, {{ pessoa.telefone_responsavel[1] }}</p>
			<p> <b>Profissão do responsável: </b>{{ pessoa.profissao_responsavel[0] }}, {{ pessoa.profissao_responsavel[1] }}</p>
			{% else %}
			<h2> Dados PUC </h2>
			<p> <b>Matrícula: </b>{{ pessoa.matricula_puc }}
			<p> <b>Curso: </b>{{ pessoa.curso_puc }}
			{% endif %}

			<h2>Foto</h2>
			<br>
		</div>
	</div>
  </div>
</div>
{% endblock %}
