{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        {{ utils.flashed_messages() }}
<!-- alunos -->
        <div class="row alunos">
        <h1 style="text-align:center;">Alunos:</h1>
        {% if alunos %}
          <hr class="intro-divider">
            <div class="center">
              <table class="dt-responsive table table-striped table-bordered" id="tabela_alunos">
                <thead>
                  <tr>
                    <th width="30%"> Nome </th>
                    <th width="40%"> Email </th>
                    <th width="15%"> Editar </th>
                    <th width="15%"> Deletar </th>
                  </tr>
                </thead>
                <tbody>
                {% for aluno in alunos %}
                  <tr>
                    <td> {{ aluno.nome }}
                      <a style="float:right;" href="{{ url_for('pessoas.info_aluno',cpf=aluno.cpf) }}">
                        <i class="fa fa-info-circle fa-lg"></i>
                      </a>
                    </td>
                    <td> {{ aluno.email }} </td>
                    <td>
                      <a href="{{ url_for('pessoas.edit_aluno', cpf=aluno.cpf) }}">
                        <i class="fa fa-pencil"></i> Editar
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('pessoas.delete_aluno', cpf=aluno.cpf) }}">
                        <i class="fa fa-trash"></i> Deletar
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="text-align: center">
          {% else %}
              <div style="text-align: center">
              <h3> Ainda não há nenhum aluno cadastrado. </h3>
              <hr class="intro-divider">
          {% endif %}
            <a href="{{ url_for('pessoas.add_aluno') }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Adicionar um aluno
            </a>
              </div>
            </div>
        </div>
<!-- aprendizes -->
        <div class="row aprendizes">
        <h1 style="text-align:center;">Aprendizes:</h1>
        {% if aprendizes %}
          <hr class="intro-divider">
            <div class="center">
              <table class="table table-striped table-bordered" id="tabela_aprendizes">
                <thead>
                  <tr>
                    <th width="30%"> Nome </th>
                    <th width="40%"> Email </th>
                    <th width="15%"> Editar </th>
                    <th width="15%"> Deletar </th>
                  </tr>
                </thead>
                <tbody>
                {% for aprendiz in aprendizes %}
                  <tr>
                    <td> {{ aprendiz.nome }}
                      <a style="float:right;" href="{{ url_for('pessoas.info_aprendiz',cpf=aprendiz.cpf) }}">
                        <i class="fa fa-info-circle fa-lg"></i>
                      </a>
                    </td>
                    <td> {{ aprendiz.email }} </td>
                    <td>
                      <a href="{{ url_for('pessoas.edit_aprendiz', cpf=aprendiz.cpf) }}">
                        <i class="fa fa-pencil"></i> Editar
                      </a>
                    </td>
                    <td>
                      <a href="{{ url_for('pessoas.delete_aprendiz', cpf=aprendiz.cpf) }}">
                        <i class="fa fa-trash"></i> Deletar
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <div style="text-align: center">
          {% else %}
              <div style="text-align: center">
              <h3> Ainda não há nenhum aprendiz cadastrado. </h3>
              <hr class="intro-divider">
          {% endif %}
            <a href="{{ url_for('pessoas.add_aprendiz') }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Adicionar um aprendiz
            </a>
              </div>
            </div>
          </div>

<!-- voluntarios -->
        <div class="row voluntarios">
        <h1 style="text-align:center;">Voluntários:</h1>
        {% if voluntarios %}
          <hr class="intro-divider">
          <div class="center">
                <table class="table table-striped table-bordered" id="tabela_voluntarios">
                  <thead>
                    <tr>
                      <th width="30%"> Nome </th>
                      <th width="40%"> Email </th>
                      <th width="15%"> Editar </th>
                      <th width="15%"> Deletar </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for voluntario in voluntarios %}
                    <tr>
                      <td> {{ voluntario.nome }}
                        <a style="float:right;" href="{{ url_for('pessoas.info_voluntario',cpf=voluntario.cpf) }}">
                          <i class="fa fa-info-circle fa-lg"></i>
                        </a>
                      </td>
                      <td> {{ voluntario.email }} </td>
                      <td>
                        <a href="{{ url_for('pessoas.edit_voluntario', cpf=voluntario.cpf) }}">
                          <i class="fa fa-pencil"></i> Editar
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('pessoas.delete_voluntario', cpf=voluntario.cpf) }}">
                          <i class="fa fa-trash"></i> Deletar
                        </a>
                      </td>                      
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div style="text-align: center">
            {% else %}
                <div style="text-align: center">
                <h3> Ainda não há nenhum voluntário cadastrado. </h3>
                <hr class="intro-divider">
            {% endif %}
              <a href="{{ url_for('pessoas.add_voluntario') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Adicionar um voluntário
              </a>
            </div>
          </div>
        </div>   
    </div>
  </div>
</div>

<script>

$(document).ready(function() {
    var table = $('#tabela_alunos').DataTable( {
      
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ alunos por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há alunos com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ alunos)",
        	"paginate": {
				"first": "Primeiro",
				"last": "Último",
				"next": "Próximo",
				"previous": "Anterior",
			},
			"loadingRecords": "Carregando...",
			"search": "Filtrar:",
        	"aria": {
				"sortAscending": ": Ative para ordenar a coluna de forma ascendente",
				"sortDescending": ": Ative para odenar a coluna de forma descendente"
			}
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );

$(document).ready(function() {
    $('#tabela_aprendizes').DataTable( {
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ aprendizes por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há aprendizes com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ aprendizes)",
          "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
          "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );

$(document).ready(function() {
    $('#tabela_voluntarios').DataTable( {
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ volntários por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há volntários com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ volntários)",
          "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
          "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );
</script>
{% endblock %}