{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
<!-- alunos -->
        <h1 style="text-align:center;">Alunos:</h1>
        {% if alunos %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered" id="tabela_alunos">
              <thead>
                <tr>
                  <th class=details-control width="5%"> T </th>
                  <th width="25%"> Nome </th>
                  <th width="30%"> Email </th>
                  <th width="20%"> Role </th>
                  <th width="10%"> Editar </th>
                  <th width="10%"> Deletar </th>
                </tr>
              </thead>
              <tbody>
              {% for aluno in alunos %}
                <tr>
                  <td>
                    <i class="fa fa-plus-circle"> </i>
                  </td>
                  <td> {{ aluno.nome }} </td>
                  <td> {{ aluno.email }} </td>
                  <td> {{ aluno.role }} </td>
                  <td>
                    <a href="{{ url_for('pessoas.edit_aluno', cpf=aluno.cpf) }}">
                      <i class="fa fa-pencil"></i> Editar
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('pessoas.delete_aluno', cpf=aluno.cpf) }}">
                      <i class="fa fa-trash"></i> Deletar
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
            <div style="text-align: center">
            <h3> Ainda não há nenhum aluno cadastrado. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('pessoas.add_aluno') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Adicionar um aluno
          </a>
        </div>
      </div>
<!-- aprendizes -->
        <h1 style="text-align:center;">Aprendizes:</h1>
        {% if aprendizes %}
          <hr class="intro-divider">
          <div class="center">
                <table class="table table-striped table-bordered" id="tabela_aprendizes">
                  <thead>
                    <tr>
                      <th width="30%"> Nome </th>
                      <th width="30%"> Email </th>
                      <th width="20%"> Role </th>
                      <th width="10%"> Editar </th>
                      <th width="10%"> Deletar </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for aprendiz in aprendizes %}
                    <tr>
                      <td> {{ aprendiz.nome }} </td>
                      <td> {{ aprendiz.email }} </td>
                      <td> {{ aprendiz.role }} </td>
                      <td>
                        <a href="{{ url_for('pessoas.edit_aprendiz', cpf=aprendiz.cpf) }}">
                          <i class="fa fa-pencil"></i> Editar
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('pessoas.delete_aprendiz', cpf=aprendiz.cpf) }}">
                          <i class="fa fa-trash"></i> Deletar
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div style="text-align: center">
            {% else %}
                <div style="text-align: center">
                <h3> Ainda não há nenhum aprendiz cadastrado. </h3>
                <hr class="intro-divider">
            {% endif %}
              <a href="{{ url_for('pessoas.add_aprendiz') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Adicionar um aprendiz
              </a>
            </div>
          </div>

<!-- voluntarios -->
        <h1 style="text-align:center;">Voluntário:</h1>
        {% if voluntarios %}
          <hr class="intro-divider">
          <div class="center">
                <table class="table table-striped table-bordered" id="tabela_voluntarios">
                  <thead>
                    <tr>
                      <th width="30%"> Nome </th>
                      <th width="30%"> Email </th>
                      <th width="20%"> Role </th>
                      <th width="10%"> Editar </th>
                      <th width="10%"> Deletar </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for voluntario in voluntarios %}
                    <tr>
                      <td> {{ voluntario.nome }} </td>
                      <td> {{ voluntario.email }} </td>
                      <td> {{ voluntario.role }} </td>
                      <td>
                        <a href="{{ url_for('pessoas.edit_voluntario', cpf=voluntario.cpf) }}">
                          <i class="fa fa-pencil"></i> Editar
                        </a>
                      </td>
                      <td>
                        <a href="{{ url_for('pessoas.delete_voluntario', cpf=voluntario.cpf) }}">
                          <i class="fa fa-trash"></i> Deletar
                        </a>
                      </td>                      
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div style="text-align: center">
            {% else %}
                <div style="text-align: center">
                <h3> Ainda não há nenhum voluntário cadastrado. </h3>
                <hr class="intro-divider">
            {% endif %}
              <a href="{{ url_for('pessoas.add_voluntario') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Adicionar um voluntário
              </a>
            </div>
          </div>    
    </div>
  </div>
</div>

<script>

function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Full name:</td>'+
            '<td></td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extension number:</td>'+
            '<td></td>'+
        '</tr>'+
        '<tr>'+
            '<td>Extra info:</td>'+
            '<td>And any further details here (images etc)...</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function() {
    var table = $('#tabela_alunos').DataTable( {
      
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ alunos por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há alunos com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ alunos)",
        	"paginate": {
				"first": "Primeiro",
				"last": "Último",
				"next": "Próximo",
				"previous": "Anterior",
			},
			"loadingRecords": "Carregando...",
			"search": "Filtrar:",
        	"aria": {
				"sortAscending": ": Ative para ordenar a coluna de forma ascendente",
				"sortDescending": ": Ative para odenar a coluna de forma descendente"
			}
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );

    $('#tabela_alunos tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

} );















$(document).ready(function() {
    $('#tabela_aprendizes').DataTable( {
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ aprendizes por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há aprendizes com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ aprendizes)",
          "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
          "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );

$(document).ready(function() {
    $('#tabela_voluntarios').DataTable( {
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ volntários por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há volntários com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ volntários)",
          "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
          "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );
</script>
{% endblock %}