{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        {{ utils.flashed_messages() }}
<!-- relatórios -->
        <div class="row alunos">
        <h1 style="text-align:center;">Relatórios</h1>
      
            <h3 style="text-align: center; margin: 5% auto 0 auto">Sexo dos Participantes</h3>
            {{ chartSexo }}

            <hr>

            <h3 style="text-align: center; margin: 5% auto 0 auto">Idade dos Participantes</h3>
            {{ chartIdade }}

        </div>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function() {
    var table = $('#tabela_alunos').DataTable( {
      
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ alunos por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há alunos com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ alunos)",
        	"paginate": {
				"first": "Primeiro",
				"last": "Último",
				"next": "Próximo",
				"previous": "Anterior",
			},
			"loadingRecords": "Carregando...",
			"search": "Filtrar:",
        	"aria": {
				"sortAscending": ": Ative para ordenar a coluna de forma ascendente",
				"sortDescending": ": Ative para odenar a coluna de forma descendente"
			}
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );

$(document).ready(function() {
    $('#tabela_aprendizes').DataTable( {
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ aprendizes por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há aprendizes com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ aprendizes)",
          "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
          "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );

$(document).ready(function() {
    $('#tabela_voluntarios').DataTable( {
      /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ volntários por página",
            "zeroRecords": "Nada com esse filtro - desculpe",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há volntários com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ volntários)",
          "paginate": {
        "first": "Primeiro",
        "last": "Último",
        "next": "Próximo",
        "previous": "Anterior",
      },
      "loadingRecords": "Carregando...",
      "search": "Filtrar:",
          "aria": {
        "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
        "sortDescending": ": Ative para odenar a coluna de forma descendente"
      }
        },

        /*ORDENA POR ROLE POR DEFAULT*/
        "order": [[ 1, "asc" ]] 
    } );
} );
</script>
{% endblock %}