{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;"> Bem-Vindo administrador.</h1>
          <hr class="intro-divider">
          <div class="center text-center">
            <p>
              Clique no link "pessoas" acima para administrar alunos, aprendizes e voluntários. Os demais links ainda são páginas em construção.
            </p>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}