{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;"> Bem-Vindo administrador.</h1>
          <hr class="intro-divider">
          <div class="center text-center">
            <p>
              Clique no link "pessoas" acima para administrar alunos, aprendizes e voluntários. Os demais links ainda são páginas em construção.
            </p>
          </div>
          <div class="novidades container">
            <div class="novidades-cartao col-lg-3 col-md-3 col-sm-3 col-xs-6 rounded">
                <h3 class="center">Versão 1.0</h3>
                <ul>
                  <li>Novo layout simples, em tons de azul</li>
                  <li>Funcionalidades CRUD de administração de pessoas</li>
                  <li>Registro e login/logout</li>
                  <li>Aprovação de novos usuários por parte dos admins</li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}